<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.js"></script>

</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom, {{ .Theme }});
    option = null;
    option = {{.Options}};
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }
</script>
</body>
</html>