{{define "content"}}
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr class="table table-success">
                <th>Name</th>
                <th>Path</th>
                <th>Method</th>
            </tr>
        </thead>
        <tbody>
            {{ if .}}
                {{range .}}
                <tr>
                    <th>{{ .Name }}</th>
                    <th> <a href={{.Path}}>{{ .Path }}</a></th>
                    <th>{{ .Method }}</th>
                </tr>
                    {{end}}
           {{end}}
        </tbody>
    </table>
    <br>
    <br>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
{{end}}