{{define "content"}}
<div class="container container-small">
    <h1>登录</h1>
<form action="/login" method="post" name="login">
    <div class="alert alert-success">登录界面访问成功～</div>
    <div class="form-group">
            <label>用户名</label>
            <input class="form-control" type="text" placeholder="Email" name="username">
    </div>
    <div class="form-group">
            <label>密码</label>
            <input class="form-control" type="password" placeholder="Password" name="password">
    </div>
    <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
</form>
    <div class="container">
        {{if .Error}}
                {{range .Error}}
                    <ul class="danger">{{.}}</ul>
                {{end}}
            {{else}}
        {{end}}
    </div>
</div>
{{end}}