<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" >
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js" ></script>
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/esm/popper.min.js" ></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .btn.btn-primary{
            background-color: #00bb00;
            border-color: #00bb00;
        }
        .container-small{
            max-width: 500px;
        }
        body{
            max-width: 1200px;
            margin: 25px auto;
            background: #f5f5f5;
        }
    </style>
    <title>BiuBiuBiu</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        BiuBiuBiu
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/apis">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/progress">Progress</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>
<br>
<div class="starter-template">
    {{ template "content" . }}
</div>
<br>
<br>
<footer class="text-muted text-center text-small">
    <p class="text-muted">Copyright©️ 2018 ~ 2019 上海情非得已有限公司. All rights reserved.</p>
    <p class="text-muted">Build By: <a href="https://www.zhihu.com/people/wu-xiao-shen-16/activities" target="_blank">@谢伟</a></p>
</footer>
</body>
</html>