<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BizChart</title>
    <!-- 引入React -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- 引入Babel -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/bizcharts/3.5.4/umd/BizCharts.js"> </script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
    const { Chart, Geom, Axis, Tooltip, Coord, Label, Legend, View, Guide, Shape } = window.BizCharts;
    // 数据源
    let series =null;
    series = {{ .Data }};
    const data = series;

    BizCharts.setTheme("{{ .Theme }}");
    ReactDOM.render(
        <Chart width={1200} height={500} data={data} padding='auto' forceFit>

            <Coord type="{{.TypeCoord}}" />
            <Tooltip />
            <Legend
                position= "{{.Location}}"
                offsetY={-window.innerHeight / 2 + 180}
                offsetX={-160} />
            <Geom
                type="{{ .TypeGeom }}"
                position="{{ .Position }}"
                color="{{.Color }}"
            />
        </Chart>, document.getElementById('root'));
</script>
</body>
</html>