<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <!-- 引入React -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- 引入Babel -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/bizcharts/3.5.4/umd/BizCharts.js"> </script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
    const { Chart, Geom, Axis, Tooltip, Legend, Coord } = window.BizCharts;
    // 数据源
    let series =null;
    series = {{.Data }};
    const data = series;

    // 定义度量
    let xyAixs =null;
    xyAixs = {{.XYAxis}};
    const cols = xyAixs;

    BizCharts.setTheme({{ .Theme }});

    ReactDOM.render(
        <Chart width={1200} height={500} data={data} scale={cols}>
            <Axis name={{.Axis }} title/>
            <Axis name={{.Yxis}} title/>
            <Tooltip />
            <Geom
                type={{ .Type }}
                position={{ .Position }}
                color={{.Color }}
                size={{.Size}}
            />
        </Chart>, document.getElementById('root'));
</script>
</body>
</html>